@import "../../SCSS/variables_colors";

.div_main{
    width: 100%;
    height: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-rows: 3rem 1fr;
}

.div_searchbar{
    border-bottom: 1px solid $color_line;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
    padding: .5rem;
}

.div_content{
    display: grid;
    grid-template-columns: 2fr 1fr;

    .div_left,.div_right{
        width: 100%;
        height: 100%;
    }
    .div_left{
        // background: red;
        border-right: 1px solid $color_line;
        
        display: grid;
        grid-template-rows: 15rem 1fr;
    }
}

.div_summary{
    background: green;
}

.div_table{
    width: 100%;
    height: 100%;

    .table{
        width: 100%;
        // height: 100%;
        border-collapse: collapse;
    }
    .table_header{
        background: rgb(233, 233, 233);
    }
}