// @import "../../SCSS/global.style.scss";
@import "../../SCSS/variables_colors";
// $color_line: rgba(221, 221, 221, 0.705);
.side_nav{
    min-height: 100vh;
    width: 4rem;
    border-right: 1px solid $color_line;
    // background: blue;
    z-index: 2;
}