

.div_modal_custom_order{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);

    width: 30%;
    height: 40%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    .row{
        // outline: 1px solid red;
        flex-grow: 1;
        // margin-bottom: 1rem;
        .input{
            width: 100%;
            height: 100%;

            // text-align: center;
            font-size: 1.1rem

            
        }
    }
    .btn{
        height: 2rem;
    }
    .btn_done{
        margin-top: 1rem;
    }
}

