@import "../../SCSS/variables_colors";
.div_main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
}

.div_left,
.div_right {
  width: 100%;
  height: 100vh;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 3rem 1fr;
}

.div_top_bar {
  padding: .5rem 2rem .5rem 1rem;
  display: flex;
  justify-content: space-between;
  
  .div_searchbar{
      width: 80%;
      height: 100%;
  }
  .div_buttons{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
   
  .btn_search,.btn_refresh{
      width: 2rem;
      height: 100%;
      border: none;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .btn_addItem{
      border: none;
      padding: 0 1rem;
      font-size: .8rem;
      color: white;
      background-color: $primary;
      border-radius: 1rem;
  }
  
  .icon_search,.icon_refresh{
      height: 45%;
  }

  
}
.div_table{
    padding: 0 1rem;
    overflow: scroll;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: .9rem;

  .table_header {
    height: 4rem;
    border-bottom: 1px solid $color_line_2;
    color: rgba(128, 128, 128, 0.487);    
  }
  .table_row {
    height: 3rem;
    border-bottom: 1px solid $color_line_2;
  }
  .col_header_id{
      width: 10%;
  }
  .col_header_name{
      width: 30%;
  }
  .col_header_wPrice,.col_header_sPrice{
      width: 25%;
  }
  .col_header_actions{
      width: 10%;
      text-align: right;

  }
  th,td{
    padding: 0 1rem;
  }
  .col_id{
      font-weight: 700;
  }
  .col_actions{
      height: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .btn_action{
      height: 45%;
      border: none;
      background: none;
    .img_action{

        height: 100%;
    }
  }

  .btn_action:hover{
      transform: scale(1.1);
  }
  
}

