@import "../../SCSS/variables_colors";

.container_main {
    height: 100vh;
    width: 100%;
    display: flex;

    // background: blue;
}
.div_center,
.div_order {
    width: 100%;
    height: 100%;
    border-right: 1px solid $color_line;
}

.div_center {
    display: grid;
    grid-template-rows: 3rem 3rem 1fr;

    .div_searchbar,
    .div_headers {
        border-bottom: 1px solid $color_line;
    }
}

.div_searchbar{
    padding: .5rem;
}

.div_headers {
    display: flex;
    .wrapper_left_header,
    .wrapper_right_header {
        width: 50%;
        padding: 1rem;
    }
}

.div_center_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    .center_left_categories,
    .center_right_items {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .center_left_categories {
        border-right: 1px solid $color_line;

        overflow: auto;
    }
    .center_right_items {
        display: grid;
        grid-auto-rows: 3rem;
        gap: 1rem;
    }
}
.center_left_categories::-webkit-scrollbar{
    display: none;
}

.grid_layout {
    display: grid;

    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.div_order {
    width: 40rem;
    height: 100%;

    display: grid;
    grid-template-rows: 6rem 1fr 5rem;

    .div_oder_header,.div_order_main,.div_order_button{

    }

    .div_order_main{
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
        gap: 1rem;
        
    }

    .div_order_button{
        background-color: green;
        color: white;
    }
}
