$color_line: rgba(221, 221, 221, 0.705);

.container_main {
    height: 100vh;
    width: 100%;
    display: flex;

    // background: blue;
}
.div_center,
.div_order {
    width: 100%;
    height: 100%;
    border-right: 1px solid $color_line;
}

.div_center {
    display: grid;
    grid-template-rows: 3rem 3rem 1fr;

    .div_searchbar,
    .div_headers {
        border-bottom: 1px solid $color_line;
    }
}

.div_center_main {
    display: flex;
    overflow: hidden;
    .center_left_categories,
    .center_right_items {
        width: 50%;
        height: 100%;
        padding: 1rem;
    }
    .center_left_categories {
        border-right: 1px solid $color_line;
        overflow: auto;
    }
}

.grid_layout {
    display: grid;

    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}


.div_order {
    width: 40rem;
}
