.input{
    width: 100%;
    height: 100%;

    padding: 1rem 3rem;
    outline: none;
    border: none;

    background: url(../../assets/search.svg) no-repeat;
    background-size: 1rem;
    background-position: .9rem;

    background-color: rgba(241, 241, 241, 0.767);
    animation: growRight 300ms linear forwards;
}




@keyframes growRight {
    0%{
        transform-origin: 0;
        transform: scaleX(0%);
    }
    100%{
        transform-origin: 0;
        transform: scaleX(100%);
    }
}
