.div{
    // width: 100%;
    // height: 100%;

    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.loading_spinner{
    animation: spinning 500ms linear infinite;
}


@keyframes spinning {
    // 0%{
    //     transform: rotate(0);
    // }
    100%{
        transform: rotate(360deg);
    }
}